<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <div *ngIf="autenticado" padding>
          <h3>Você está conectado!</h3>
        </div>
        <ion-list>
          <ion-item>
            <ion-label fixed>E-mail</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label fixed>Senha</ion-label>
            <ion-input type="password" [(ngModel)]="senha"></ion-input>
          </ion-item>
        </ion-list>
  </ion-card>
 
  <div style="text-align: center;">
    <ion-button fill="outline" ion-button *ngIf="!autenticado" (click)="cadastrar()">Cadastrar</ion-button>
    <ion-button fill="outline" ion-button *ngIf="!autenticado" (click)="logar()">Logar</ion-button>
  </div>

</ion-content>
