<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <ion-button fill="outline" (click)="deslogar()">Voltar</ion-button>
  </ion-col> 
</ion-content>
